.console-body
    display: flex
    padding: 30px 15px 15px 15px
    background: #FFFFFF
    height: 80%
    textarea
        resize: none
        border: none
        width: 100%
        height: 100%
        border-radius: 5px
        padding: 0
        outline: none
    .req-section, .res-section
        background: #FFFFFF
        box-sizing: border-box
        border: 1px solid rgba(0, 0, 0, 0.2)
        flex: 1 1 auto
        overflow: visible
        position: relative  
    .req-section:before
        content: 'Request:'
        position: absolute
        top: -18px
        left: 0
        color: #999999
        font-size: 12px
    .res-section:before
        content: 'Response:'
        position: absolute
        top: -18px
        left: 0
        color: #999999
        font-size: 12px
    .separator
        display: flex
        align-items: center 
        margin: 0 5px  
        .drag-element
            cursor: ew-resize
            flex: 0 0 auto
