.app
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    background-color: #E5E5E5
    button
        padding: 5px 10px
        background: linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4
        border-radius: 5px
        border: none
        cursor: pointer
    .console
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
        background-color: #fff
        