.console-history
    display: flex
    border-top: 1px solid rgba(0, 0, 0, 0.2)
    background-color: #F6F6F6
    .history-list-wrapper
        overflow-x: hidden
        flex: 1
        .history-list
            display: flex
            justify-content: flex-start
            letter-spacing: 3px
            padding: 10px 0px 10px 15px
    .history-clear
        position: relative
        padding: 16px
        border-left: 1px solid rgba(0, 0, 0, 0.2)
        cursor: pointer
        display: flex
        align-items: center
        &:before
            content: ''
            position: absolute
            top: 0
            left: - 21px
            width: 20px
            height: 100%
            z-index: 8
            background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1))
            pointer-events: none